$seticons-font-path: "../fonts" !default;

$icon-check: "\e900";
$icon-dropdown: "\e907";
$icon-calendar: "\e908";
$icon-next: "\e909";
$icon-prev: "\e90a";
$icon-answer: "\e901";
$icon-info: "\e902";
$icon-lock: "\e903";
$icon-arrow-dates: "\e90e";
$icon-arrow-transfer: "\e90f";

$mapIcons: ( "icon-check", "icon-dropdown", "icon-calendar","icon-next","icon-prev", "icon-faq","icon-info","icon-lock","icon-arrow-dates","icon-arrow-transfer");